@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1682687221006-b7fd60cf9dd0?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  filter: blur(20px);
  transition: all 100ms;
}

.form {
  position: absolute;
  height: 400px;
  z-index: 50;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgba(245, 245, 245, 0.63);
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form .text-Wrap {
  height: 25%;
  width: 100%;
}

.form .text-Wrap h1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.form .text-Wrap p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.form .info-Inputs {
  height: 50%;
  width: 90%;
  text-align: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 5px;
}

.form .info-Inputs label {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.form .info-Inputs input {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  width: 90%;
  padding: 0 5px;
  outline: none;
}

.form .submit-Btn {
  width: 85%;
  height: 35px;
  border-radius: 15px;
  color: whitesmoke;
  background-color: black;
  border: solid whitesmoke 3px;
}
